In [1]:
# Import dependencies
import pandas as pd
import wbgapi as wb
import numpy as np

In [2]:
# Get indicators from World Bank Data
indicator_list = ['CC.CO2.EMSE.BF',
               'CC.CO2.EMSE.BL',
               'CC.CO2.EMSE.EH',
               'CC.CO2.EMSE.EL',
               'CC.CO2.EMSE.EN',
               'CC.CO2.EMSE.IL',
               'CC.CO2.EMSE.IP',
               'CC.CO2.EMSE.MC',
               'CC.CO2.EMSE.OF',
               'CC.CO2.EMSE.TR'   
            ]

In [3]:
# Fetch World Bank Data for USA using wbgapi(db = 87, Country Climate and Development Report (CCDR))
sector_emissions_df = wb.data.DataFrame(indicator_list, 'USA', time=range(1990, 2015), numericTimeKeys=True, skipBlanks=True, labels=True, columns='series', db=87).reset_index()
sector_emissions_df

,time,Time,CC.CO2.EMSE.BF,CC.CO2.EMSE.BL,CC.CO2.EMSE.EH,CC.CO2.EMSE.EL,CC.CO2.EMSE.EN,CC.CO2.EMSE.IL,CC.CO2.EMSE.IP,CC.CO2.EMSE.MC,CC.CO2.EMSE.OF,CC.CO2.EMSE.TR
0,2014,2014,112.90,545.08,2376.19,5102.58,5063.14,4683.35,39.44,437.26,48.19,1639.85
1,2013,2013,113.25,528.01,2378.54,5089.50,5053.13,4670.34,36.37,434.89,50.15,1646.94
2,2012,2012,107.86,460.55,2360.20,4950.21,4914.94,4531.16,35.27,438.64,46.10,1597.53
3,2011,2011,113.35,522.21,2488.67,5172.10,5139.89,4753.12,32.21,435.76,47.95,1633.59
4,2010,2010,116.65,545.06,2609.56,5392.87,5361.42,4990.96,31.45,466.39,51.34,1679.77
5,2009,2009,113.87,551.36,2489.11,5159.55,5129.94,4757.65,29.61,407.60,50.07,1622.55
6,2008,2008,124.86,556.25,2719.59,5563.34,5521.92,5161.51,41.42,474.83,53.57,1708.27
7,2007,2007,126.92,549.01,2789.49,5740.27,5694.76,5338.52,45.51,486.05,55.80,1806.37
8,2006,2006,129.31,517.53,2722.96,5656.58,5609.72,5254.87,46.85,495.86,60.08,1806.02
9,2005,2005,123.86,571.94,2791.21,5756.08,5709.89,5354.45,46.19,477.38,54.97,1807.72
10,2004,2004,119.68,590.29,2742.06,5740.03,5694.14,5338.46,45.89,511.74,56.03,1788.67
11,2003,2003,107.05,605.74,2707.69,5659.63,5616.28,5258.12,43.35,485.47,45.09,1766.76
12,2002,2002,115.52,582.87,2679.75,5594.16,5551.00,5192.68,43.16,490.87,50.34,1741.64
13,2001,2001,99.03,581.70,2812.78,5749.25,5707.64,5347.79,41.61,540.07,47.59,1720.04
14,2000,2000,100.20,599.13,2801.39,5776.41,5734.96,5357.88,41.45,567.17,44.34,1717.85
15,1999,1999,97.45,567.36,2769.65,5610.30,5570.06,5191.66,40.24,499.41,41.28,1686.18
16,1998,1998,97.02,548.58,2800.15,5590.70,5551.24,5172.06,39.46,512.79,43.57,1640.36
17,1997,1997,99.62,600.08,2738.66,5547.99,5509.43,5129.29,38.56,506.77,47.41,1602.13
18,1996,1996,95.06,616.39,2504.04,5283.11,5245.80,4864.46,37.31,485.97,46.95,1577.19
19,1995,1995,92.23,580.06,2423.43,5126.90,5089.82,4708.31,37.08,486.85,45.81,1537.76
20,1994,1994,89.39,575.86,2360.70,5073.23,5036.92,4654.52,36.31,534.89,45.77,1506.90
21,1993,1993,87.14,585.59,2335.52,5000.35,4965.51,4581.76,34.84,532.47,45.00,1454.19
22,1992,1992,88.70,565.08,2276.97,4880.20,4847.21,4461.62,32.99,517.68,47.37,1430.66
23,1991,1991,83.25,555.20,2179.91,4808.09,4775.35,4389.50,32.74,566.95,64.05,1399.67
24,1990,1990,82.75,545.48,2159.79,4844.99,4811.51,4426.40,33.48,604.51,66.33,1426.97

In [4]:
# Drop duplicate column
sector_emissions_df.drop(columns = ['time'], axis = 1, inplace = True)
sector_emissions_df

,Time,CC.CO2.EMSE.BF,CC.CO2.EMSE.BL,CC.CO2.EMSE.EH,CC.CO2.EMSE.EL,CC.CO2.EMSE.EN,CC.CO2.EMSE.IL,CC.CO2.EMSE.IP,CC.CO2.EMSE.MC,CC.CO2.EMSE.OF,CC.CO2.EMSE.TR
0,2014,112.90,545.08,2376.19,5102.58,5063.14,4683.35,39.44,437.26,48.19,1639.85
1,2013,113.25,528.01,2378.54,5089.50,5053.13,4670.34,36.37,434.89,50.15,1646.94
2,2012,107.86,460.55,2360.20,4950.21,4914.94,4531.16,35.27,438.64,46.10,1597.53
3,2011,113.35,522.21,2488.67,5172.10,5139.89,4753.12,32.21,435.76,47.95,1633.59
4,2010,116.65,545.06,2609.56,5392.87,5361.42,4990.96,31.45,466.39,51.34,1679.77
5,2009,113.87,551.36,2489.11,5159.55,5129.94,4757.65,29.61,407.60,50.07,1622.55
6,2008,124.86,556.25,2719.59,5563.34,5521.92,5161.51,41.42,474.83,53.57,1708.27
7,2007,126.92,549.01,2789.49,5740.27,5694.76,5338.52,45.51,486.05,55.80,1806.37
8,2006,129.31,517.53,2722.96,5656.58,5609.72,5254.87,46.85,495.86,60.08,1806.02
9,2005,123.86,571.94,2791.21,5756.08,5709.89,5354.45,46.19,477.38,54.97,1807.72
10,2004,119.68,590.29,2742.06,5740.03,5694.14,5338.46,45.89,511.74,56.03,1788.67
11,2003,107.05,605.74,2707.69,5659.63,5616.28,5258.12,43.35,485.47,45.09,1766.76
12,2002,115.52,582.87,2679.75,5594.16,5551.00,5192.68,43.16,490.87,50.34,1741.64
13,2001,99.03,581.70,2812.78,5749.25,5707.64,5347.79,41.61,540.07,47.59,1720.04
14,2000,100.20,599.13,2801.39,5776.41,5734.96,5357.88,41.45,567.17,44.34,1717.85
15,1999,97.45,567.36,2769.65,5610.30,5570.06,5191.66,40.24,499.41,41.28,1686.18
16,1998,97.02,548.58,2800.15,5590.70,5551.24,5172.06,39.46,512.79,43.57,1640.36
17,1997,99.62,600.08,2738.66,5547.99,5509.43,5129.29,38.56,506.77,47.41,1602.13
18,1996,95.06,616.39,2504.04,5283.11,5245.80,4864.46,37.31,485.97,46.95,1577.19
19,1995,92.23,580.06,2423.43,5126.90,5089.82,4708.31,37.08,486.85,45.81,1537.76
20,1994,89.39,575.86,2360.70,5073.23,5036.92,4654.52,36.31,534.89,45.77,1506.90
21,1993,87.14,585.59,2335.52,5000.35,4965.51,4581.76,34.84,532.47,45.00,1454.19
22,1992,88.70,565.08,2276.97,4880.20,4847.21,4461.62,32.99,517.68,47.37,1430.66
23,1991,83.25,555.20,2179.91,4808.09,4775.35,4389.50,32.74,566.95,64.05,1399.67
24,1990,82.75,545.48,2159.79,4844.99,4811.51,4426.40,33.48,604.51,66.33,1426.97

In [5]:
# Create a dictionary to rename the columns headers to meaningful names
column_names = {'CC.CO2.EMSE.BF':'bunker_fuels',
               'CC.CO2.EMSE.BL':'building',
               'CC.CO2.EMSE.EH':'electricity_heat',
               'CC.CO2.EMSE.EL':'total_excluding_LUCF',
               'CC.CO2.EMSE.EN':'energy',
               'CC.CO2.EMSE.IL':'total_including_LUCF',
               'CC.CO2.EMSE.IP':'industrial_processes',
               'CC.CO2.EMSE.MC':'manufacturing_construction',
               'CC.CO2.EMSE.OF':'other_fuel_combustion',
               'CC.CO2.EMSE.TR':'transportation',
               'Time':'year'
            }

In [6]:
# Rename the columns headers
sector_emissions_df = sector_emissions_df.rename(columns=column_names)
sector_emissions_df.sample(10)

,year,bunker_fuels,building,electricity_heat,total_excluding_LUCF,energy,total_including_LUCF,industrial_processes,manufacturing_construction,other_fuel_combustion,transportation
16,1998,97.02,548.58,2800.15,5590.70,5551.24,5172.06,39.46,512.79,43.57,1640.36
1,2013,113.25,528.01,2378.54,5089.50,5053.13,4670.34,36.37,434.89,50.15,1646.94
10,2004,119.68,590.29,2742.06,5740.03,5694.14,5338.46,45.89,511.74,56.03,1788.67
4,2010,116.65,545.06,2609.56,5392.87,5361.42,4990.96,31.45,466.39,51.34,1679.77
22,1992,88.70,565.08,2276.97,4880.20,4847.21,4461.62,32.99,517.68,47.37,1430.66
12,2002,115.52,582.87,2679.75,5594.16,5551.00,5192.68,43.16,490.87,50.34,1741.64
23,1991,83.25,555.20,2179.91,4808.09,4775.35,4389.50,32.74,566.95,64.05,1399.67
5,2009,113.87,551.36,2489.11,5159.55,5129.94,4757.65,29.61,407.60,50.07,1622.55
20,1994,89.39,575.86,2360.70,5073.23,5036.92,4654.52,36.31,534.89,45.77,1506.90
9,2005,123.86,571.94,2791.21,5756.08,5709.89,5354.45,46.19,477.38,54.97,1807.72

In [7]:
# Get the info of dataframe
sector_emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        25 non-null     object
 1   bunker_fuels                25 non-null     float64
 2   building                    25 non-null     float64
 3   electricity_heat            25 non-null     float64
 4   total_excluding_LUCF        25 non-null     float64
 5   energy                      25 non-null     float64
 6   total_including_LUCF        25 non-null     float64
 7   industrial_processes        25 non-null     float64
 8   manufacturing_construction  25 non-null     float64
 9   other_fuel_combustion       25 non-null     float64
 10  transportation              25 non-null     float64
dtypes: float64(10), object(1)
memory usage: 2.3+ KB

In [8]:
sector_emissions_df.isnull().sum()

year                          0
bunker_fuels                  0
building                      0
electricity_heat              0
total_excluding_LUCF          0
energy                        0
total_including_LUCF          0
industrial_processes          0
manufacturing_construction    0
other_fuel_combustion         0
transportation                0
dtype: int64

In [10]:
# Save data into csv
sector_emissions_df.to_csv('Resources/sector_emissions.csv',index= False)